@charset "utf-8";
@import "~bulma/bulma";

#main-container {
  margin: 10px;
}

#projects-container {
 min-width: 200px;
}

#tasks-container {
 width: 100%;
 min-width: 300px;
 margin-left: 10px;
}

#tasks-container .task {
  display: flex;
  justify-content: space-between;
}

.box {
  max-width: 50%;
  margin: 0 auto;
}
